<div class="flex-div">
  <mat-card style="max-width: 500px; width: 100%;">
      <div style="text-align: center">
          <h2 class="card-header">Reset your Password?</h2>
      </div>
      <mat-card-content style="padding-left: 16px; padding-right: 16px">
          <form [formGroup]="resetPasswordForm">
              <mat-form-field appearance="fill" style="width: 100%">
                  <mat-label>Old Password</mat-label>
                  <input matInput required formControlName="oldPassword" />
                  <mat-error *ngIf="resetPasswordForm.get('oldPassword')?.errors">
                  </mat-error>
              </mat-form-field>
              <mat-form-field appearance="fill" style="width: 100%">
                  <mat-label>New Password</mat-label>
                  <input matInput required formControlName="newPassword" />
                  <mat-error *ngIf="resetPasswordForm.get('newPassword')?.errors">
                  </mat-error>
              </mat-form-field>
              <mat-form-field appearance="fill" style="width: 100%">
                  <mat-label>Confirm Password</mat-label>
                  <input matInput required formControlName="confirmPassword" />
                  <mat-error *ngIf="resetPasswordForm.get('confirmPassword')?.errors">
                  </mat-error>
              </mat-form-field>
              <mat-error *ngIf="path === 'failed-reset-password'">
                  Old Password is incorrect
              </mat-error>
              <mat-error *ngIf="matchNewAndConfirmPassword()">
                  Passwords do not match
              </mat-error>




          </form>
      </mat-card-content>
      <mat-card-actions style="padding-left: 16px; padding-right: 16px">
          <button mat-flat-button color="primary" style="width: 100%" (click)="onSubmit()"
              [disabled]="!resetPasswordForm.valid || !resetPasswordForm.dirty || loading">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Reset Password
          </button>
      </mat-card-actions>
  </mat-card>
</div>
<!-- <div
  style="
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 100%;
  "
>
  <mat-card style="max-width: 500px; width: 100%; height: 300px">
    <div style="text-align: center">
      <h2 class="card-header">Reset your Password?</h2>
    </div>
    <mat-card-content style="padding-left: 16px; padding-right: 16px">
      <form [formGroup]="resetPasswordForm">
        <mat-form-field appearance="fill" style="width: 100%">
          <mat-label>New Password</mat-label>
          <input matInput required formControlName="newPassword" />
          <mat-error *ngIf="resetPasswordForm.get('newPassword')?.errors">
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" style="width: 100%">
          <mat-label>Confirm Password</mat-label>
          <input matInput required formControlName="confirmPassword" />
          <mat-error *ngIf="resetPasswordForm.get('confirmPassword')?.errors">
          </mat-error>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions style="padding-left: 16px; padding-right: 16px">
      <button
        mat-flat-button
        color="primary"
        style="width: 100%"
        (click)="onSubmit()"
        [disabled]="
          !resetPasswordForm.valid || !resetPasswordForm.dirty || loading
        "
      >
        <span
          *ngIf="loading"
          class="spinner-border spinner-border-sm mr-1"
        ></span
        >Reset Password
      </button>
    </mat-card-actions>
  </mat-card>
</div> -->
