<div
  style="
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 100%;
  "
>
  <mat-card style="max-width: 500px; width: 100%; height: 300px">
    <div style="text-align: center">
      <h2 class="card-header">Welcome to Portia Lab</h2>
      <h3 class="card-header">Please set your password to get started</h3>
    </div>
    <mat-card-content style="padding-left: 16px; padding-right: 16px">
      <form [formGroup]="confirmUserForm">
        <mat-form-field appearance="fill" style="width: 100%">
          <mat-label>New Password</mat-label>
          <input matInput required formControlName="newPassword" />
          <mat-error *ngIf="confirmUserForm.get('newPassword')?.errors">
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" style="width: 100%">
          <mat-label>Confirm Password</mat-label>
          <input matInput required formControlName="confirmPassword" />
          <mat-error *ngIf="confirmUserForm.get('confirmPassword')?.errors">
          </mat-error>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions style="padding-left: 16px; padding-right: 16px">
      <button
        mat-flat-button
        color="primary"
        style="width: 100%"
        (click)="onSubmit()"
        [disabled]="!confirmUserForm.valid || !confirmUserForm.dirty || loading"
      >
        <span
          *ngIf="loading"
          class="spinner-border spinner-border-sm mr-1"
        ></span
        >Set Password
      </button>
    </mat-card-actions>
  </mat-card>
</div>
