/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  background-color: #eee;
  color: #3c4858;
}

.card_width_minimum_desktop{
  min-width: 1080px;
}
.wrapper {
  position: relative;
  top: 0;
  height: 100vh;
}

.main-panel {
  position: relative;
  float: right;
  width: calc(100% - 260px);
  -webkit-transition: 0.33s, cubic-bezier(0.685, 0.0473, 0.346, 1);
  transition: 0.33s, cubic-bezier(0.685, 0.0473, 0.346, 1);
}

.main-content {
  display: flex;
  padding: 30px 15px;
  min-height: fit-content;
}

.content_card {
  display: flex;
}

.header {
  margin-bottom: 30px;
}

.header .title {
  margin-top: 10px;
  margin-bottom: 10px;
}

.content-toolbar {
  position: absolute;
  padding: 20px !important;
  background-color: transparent !important;
}

.example-spacer {
  flex: 1 1 auto;
}

.listtable {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

td.mat-cell.cdk-cell {
  padding-left: 10px;
  padding-right: 10px;
}

.filterBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
}

.actionBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
}

.question-list-section {
  margin-top: 16px;
  margin-bottom: 16px;
}

.option-row {
  margin: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.questionIndexCol {
  flex: 0 0 30px;
  font-weight: bold;
  vertical-align: middle;
}

.questionOptionCol {
  flex: 1 1 auto;
}

.questionDeleteCol {
  flex: 0 0 30px;
  text-align: right;
}

.errorBar {
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.attemptnavbutton {
  margin-left: 10px !important;
}

.mat-radio-disabled .mat-radio-label-content,
.mat-checkbox-disabled .mat-checkbox-label {
  display: flex;
  align-items: center;
}

.correctAnswer .mat-radio-label-content,
.correctAnswer .mat-checkbox-label {
  color: green !important;
}

.wrongAnswer .mat-radio-label-content,
.wrongAnswer .mat-checkbox-label {
  color: red !important;
}

.footer {
  border-top: 1px solid #e7e7e7;
}

@media (min-width: 1280px) {
  .main-content {
    justify-content: center;
  }

  .main-panel {
    margin: 0 auto; /* Add this to center the panel */
  }

}